body{
    margin: 0%;  
    font-family: sans-serif; 
   
    
}

/* HEADER START  */

.hero{
    background-color: #1f2937;
    height: 455px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 400px;
    align-items: center;

    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.link{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 0px 10px;

}
link.link3{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;

}





.main-content{
    display: flex;
    align-items: center ;
    justify-content: center;
    justify-self: center;
    gap: 280px;
    margin-top: 100px;
}


.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-subtext{
    font-size: 18px;
    color: #e5e5eb;
}

button{
    background-color: blue;
    border-radius: 5px;
    border: 1px solid blue;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    color: white;
}

.img-nuts{
    height: 240px;
    width: 450px;
}


/* HEADER END */


/* SOME RANDOM INFORMATION STARTS */


.middle-container{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.middle-header{
    display: flex;
    color: black;
    font-weight: 900;
    font-size: 36px;
    justify-content: center;
    margin-top: 15px;
}

.middle-content{
    display: flex;
    gap:60px;
    justify-content: center;
    margin-top:60px;
}

.main-box-1{
    height: 180px;
    width: 180px;
    border: 4px solid black;
    border-radius: 5px;
    display: flex;
    

}

.box-1{
    display: flex;
    
}

.img1, .img3{
    height: 180px;
    width: 180px;
}


/* QUOTE START */

.quote{
    display: flex;
    height: 250px;
    width: 100%;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.master{
    font-weight: bolder;
}



/* COPYRIGHT STARTS */

.copyright{
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items:center;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 5px;
    font-size: larger;
}